<!doctype html>
{% load static %}
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/left-nav-style.css' %}">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
{#    <div class="container">#}
        <input type="checkbox" id="nav-toggle" hidden>
        <nav class="nav">
            <label for="nav-toggle" class="nav-toggle" onclick></label>
            <h2 class="catalog_nav">
                Каталог
            </h2>
            <a class="catalog_nav" href="{% url 'shop:index' %}">На главную</a>
            {% for category, group in category_dict.items %}
                <ul>
                    <div class="catalog_nav">{{ category }}</div>
                    <div class="catalog_nav">{{ group.name }}</div>
                    {% for group in group%}
                        <li><a href={% url 'shop:group_product_list_view' category=category group=group%}>{{ group }}</a>
                    {% endfor %}
                </ul>
                <br>
            {% endfor %}

            <a class="text_nav" href="#basket">Корзина</a>
            <a class="text_nav" href="#profile">Профиль</a>
            <a class="text_nav" href="#loguot">Выйти</a>
        </nav>

{#        <div class="mask-content">#}
        <main role="main">
            <article>
                <header>
                </header>
{#                <section>#}
                    <div class="indent_container">
                        <p class="text_name_page">
                            {% block name_page %}
                            {% endblock %}
                        </p>

                        {% block content %}
                        {% endblock %}
                    </div>
{#                </section>#}
                <hr>
                <footer>
                </footer>
            </article>
        </main>
{#    </div>#}
{#    </div>#}
</body>

</html>