{% extends 'index.html' %}

{% block title %}
    {{ name_page.title }}
{% endblock %}

{% block name_page %}
    {{ name_page.title }}
{% endblock %}

{% block content %}
    {% for basket in object_list %}
        <div class="list_basket_product">
{#            <a style="display:flex; background-color: white; border-radius: 18px;" href={% url 'shop:product_details' pk=basket.product.id%}>#}
            <a class="list_basket_product" href={% url 'shop:product_details' pk=basket.product.id%}>
{#                <img style="margin-left: 10px;" src="{{ basket.product.photo.url }}" width="65" alt="{{ basket.product.photo.name }}">#}
                <img class="img_product" src="{{ basket.product.photo.url }}" width="65" alt="{{ basket.product.photo.name }}">

                <div style="margin-left: 10px;">
{#                <div>#}
                    <div>
                        {{ basket.product.name }}
                    </div>
                    <div>
                        Цвет: {{ basket.product.color }}
                    </div>
                    <div>
                       Размер: {{ basket.product.size }}
                    </div>
                    <div>
                        {{ basket.product.price }}
                    </div>
                </div>

                <div style="margin-right: 10px;">
                    <a class="del_btn" onclick href={% url 'shop:top_seller_product' %}></a>
                </div>
            </a>
        </div>
    {% endfor %}
    Итог: {{ total_price }} &#8381;
    <br>
    <br>
    <div class="flex">
        <a href="javascript:history.back()">
            <button class="btn btn-secondary">Вернуться</button>
        </a>

        <a class="margin-left_btn" href="#Arrange">
            <button class="btn btn-primary">Оформить</button>
        </a>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
