{% extends 'index.html' %}

{% block title %}
    {{ name_page.title }}
{% endblock %}

{% block name_page %}
    {{ name_page.title }}
{% endblock %}


{% block content %}
    <h1>User info</h1>
    {% if user.is_authenticated %}
        <div>
            <h2>Detail</h2>
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>Телефон: {{ user.phone }}</p>
{#            <p>Email: {{ user.email }}</p>#}
            <p>Адрес доставки: {{ user.profile.delivery_address }}</p>
        </div>
{#        <div>#}
{#            <h2>Avatar</h2>#}
{#            {% if user.profile.avatar %}#}
{#                <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">#}
{#            {% else %}#}
{#                The avatar is missing#}
{#            {% endif %}#}
{#        </div>#}
{#        <a href="{% url 'myauth:user_update' pk=user.profile.pk %}">Change avatar</a>#}
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}

    <div>
        <a href="javascript:history.back()">
            <button class="btn btn-secondary">Вернуться</button>
        </a>
    </div>
{% endblock %}
