{% extends 'index.html' %}

{% block title %}
    {{ name_page.title }}
{% endblock %}

{% block name_page %}
    {{ name_page.title }}
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="profile_info">
{#            <div class="profile_info">#}
            <a href="{% url 'authorization:user_username_update' pk=user.pk %}"><p>Имя пользователя: {{ user.username }}</p></a>
{#            </div>#}
            <a href="{% url 'authorization:user_first_name_update' pk=user.pk %}"><p>Имя: {% firstof user.first_name 'Не указано' %}</p></a>
            <a href="{% url 'authorization:user_last_name_update' pk=user.pk %}"><p>Фамилия: {% firstof user.last_name 'Не указана' %}</p></a>
            <a href="{% url 'authorization:profile_phone_update' pk=user.profile.pk %}"><p>Телефон: {% firstof user.profile.phone_number 'Не указан' %}</p></a>
            <a href="{% url 'authorization:user_email_update' pk=user.pk %}"><p>Email: {% firstof user.email 'Не указан' %}</p></a>
            <a href="{% url 'authorization:profile_delivery_address_update' pk=user.profile.pk %}"><p>Адрес доставки: {% firstof user.profile.delivery_address 'Не указан' %}</p></a>
        </div>
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}

         <br>
        <div class="flex">
            <a class="margin-rigth_btn" href={% url 'shop:top_seller_product'%}>
                <button type="button" class="btn btn-secondary">Вернуться</button>
            </a>
        </div>
{% endblock %}
