{% extends 'index.html' %}

{% block title %}
    Изменение данных
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="flex">

             <a class="margin-left_btn" href="{% url 'authorization:user_details' pk=user.pk %}">
                <button type="button" class="btn btn-secondary">Назад</button>
            </a>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
{% endblock %}
