{% extends 'shopapp/base.html' %}

{% block title %}
    Users-list
{% endblock %}

{% block body %}
    <h1>Users:</h1>
    <div>
        <ol>
            {% for user in object_list %}
                <div>
                    <li>
                        <p>
                            {% if user.profile.avatar %}
                                <a href="{% url 'myauth:user_details' pk=user.pk %}">
                                <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
                                </a>
                            {% else %}
                                The avatar is missing
                            {% endif %}
                        </p>
                        <p><a href="{% url 'myauth:user_details' pk=user.pk %}">User name: {{ user.username }}</a></p>
                        <hr>
                        <br>
                    </li>
                </div>
            {% empty %} No users yet
            {% endfor %}
        </ol>
    </div>
{% endblock %}
