{% extends "index.html" %}

{% block title %}
    {{ name_page.title }}
{% endblock %}

{% block name_page %}
    {{ name_page.title }}
{% endblock %}

{% block content %}
    <form method="POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
            <p>
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ field.label_tag }} {{ field }}
            </p>
        {% endfor %}
        <br>
        <div class="flex">
            <button type="submit" class="btn btn-secondary">Создать</button>

            <a class="margin-left_btn" href={% url 'authorization:login' %}>
                <button type="button" class="btn btn-primary" >Войти</button>
            </a>
        </div>
    </form>
{% endblock %}
