{% extends 'index.html' %}

{% block title %}
    {{ name_page.title }}
{% endblock %}

{% block name_page %}
    {{ name_page.title }}
{% endblock %}

{% block content %}
    {% for product in object_list %}
        <a class="list_product" href={% url 'shop:product_details' pk=product.id%}>
            <img class="img_product" src="{{ product.photo.url }}" width="65" alt="{{ product.photo.name }}" >
            <div class="info_product">
                {{ product.name }}
                <br>
                {{ product.price }} &#8381;
            </div>
        </a>
    {% endfor %}

    {% if is_paginated %}
        <div style="margin: 5px 10px; text-align: center;">
            {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </div>
        <div class="area_pagination">

            {% if page_obj.has_previous %}
                <div>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <button type="submit" class="btn btn-secondary"> <<< </button>
                    </a>
                </div>
            {% endif %}

            {% if page_obj.has_next %}
                <div>
                    <a href="?page={{ page_obj.next_page_number }}">
                        <button type="submit" class="btn btn-secondary"> >>> </button>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
