{% extends 'index.html' %}

{% block title %}
    Информация о товаре {{ object.name }}
{% endblock %}

{% block content %}
    <div class="detail_container_product">
        <img class="detail_product" src="{{ product.photo.url }}" width="256" alt="{{ product.photo.name }}" >
        <h2 class="detail_info_product">{{ object.name }}</h2>
        Описание:<em> {{ object.description }}</em>
        <br>
        Размер:<em> {{ object.size }} </em>
        <br>
        Цвет:<em> {{ object.description }}</em>
        <br>
        Рейтинг:<em> {{ object.rating }} </em>
        <br>
        Цена:<em> {{ object.price }} &#8381;</em>
    </div>

    <div class="flex">
        <a href="javascript:history.back()">
            <button class="btn btn-secondary">Вернуться</button>
        </a>

        <a class="margin-left_btn" href="{% url 'basket:add_product_to_basket' user_id=user.pk product_id=product.id%}">
            <button type="submit" class="btn btn-primary">Купить</button>
        </a>
    </div>
{% endblock %}


{% block footer %}
{#    <div class="flex">#}
{#        <a href="javascript:history.back()">#}
{#            <button class="btn btn-secondary">Вернуться</button>#}
{#        </a>#}
{##}
{#        {% if user.is_authenticated %}#}
{#        <a class="margin-left_btn" href="#GOTO_BASKET">#}
{#            <button class="btn btn-primary">Купить</button>#}
{#        </a>#}
{#        {% endif %}#}
{#    </div>#}
{% endblock %}
